.wrapper {
  height: 100vh;
  position: relative;
}

.container-right {
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

#player-symbol {
  top: 100px;
}

.board {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell {
  float: left;
  width: calc(100% / 3 - 3px);
  height: calc(100% / 3);
  position: relative;
}

.x-symbol, .o-symbol {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  animation-name: scale;
  animation-duration: .3s;
}

.x-symbol {
  background: center / contain no-repeat url("/imgs/cancel.png");
}

.o-symbol {
  background: center / contain no-repeat url("/imgs/dry-clean.png");
}

.border-bottom {
  border-bottom: 3px solid #fff;
}

.border-right {
  border-right: 3px solid #fff;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding-top: 150px;
}

.overlay-message {
  margin-top: 15px;
}

@keyframes scale {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}